<?xml version="1.0" encoding="UTF-8"?>
<list>
    <name>Belgian Waffles</name>
    <name>Strawberry Belgian Waffles</name>
    <name>Berry-Berry Belgian Waffles</name>
    <name>French Toast</name>
    <name>Homestyle Breakfast</name>
<name>testing</name><name>$item</name><name>$item</name><name>test</name><name>test2</name><name>test3</name><name>test4</name><name>test5</name><name>test6</name><name>test7</name><name>test8</name><name>test9</name><name>test10</name></list>
